{% extends 'games/catalog.html' %}
{% load static %}

<!-- Переопределяем блок со списком игр -->
{% block games_list %}
<ul class="games-list">
    {% for g in games %}
    <li class="game-card">
        <div class="game-header">
            <a href="{% url 'game_detail' g.slug %}" class="game-title-link">
                <h2 class="game-title">{{g.title|capfirst}}</h2>
            </a>
            <span class="age-rating">{{g.age_rating|default:"18+"}}</span>
        </div>
        <div class="game-content">
            <a href="{% url 'game_detail' g.slug %}" class="game-image-link">
                <div class="game-image">
                    <img src="{% static 'images/' %}{{g.image}}" alt="{{g.title}}" class="game-img">
                </div>
            </a>
            <div class="game-details">
                <p class="platform">{{g.platform|upper}}</p>
                <p class="year">{{g.year_release}}</p>
                <p class="genres">
                    {% for genre in g.genres.split %}
                        <span class="genre-tag">{{genre|cut:","}}</span>
                    {% endfor %}
                </p>
                <p class="description">{{g.description}}</p>
                {% if g.is_stock %}
                    <p class="price">{{g.price|floatformat:2}} ₽</p>
                {% else %}
                    <p class="price_not_in_stock">Нет в наличии</p>
                {% endif %}
            </div>
        </div>
        {% if not forloop.last %}
        <hr class="divider">
        {% endif %}
    </li>    
    {% endfor %}
</ul>
{% endblock games_list %}