{% extends 'base.html' %}
{% load static %}
{% load games_tags %}
{% block content%}
<div class="main-content-with-sidebar">
    {% include 'games/sidebar.html' %}

    <!-- Основной контент -->
    <div class="content-main">
        <h1 class="page-title">{{title|upper}}</h1>
        <ul class="games-list">
            {% for g in games %}
            <li class="game-card">
                <div class="game-header">
                    <a href="{% url 'game_detail' g.slug %}" class="game-title-link">
                        <h2 class="game-title">{{g.title|capfirst}}</h2>
                    </a>
                    <span class="age-rating">{{g.age_rating|default:"18+"}}</span>
                </div>
                <div class="game-content">
                    <a href="{% url 'game_detail' g.slug %}" class="game-image-link">
                        <div class="game-image">
                            {% if g.image %}
                                <img src="{{ g.image.url }}" alt="{{g.title}}" class="game-img">
                            {% else %}
                                <img src="{% static 'images/default_game.jpg' %}" alt="{{g.title}}" class="game-img">
                            {% endif %}
                        </div>
                    </a>
                    <div class="game-details">
                        <p class="platform">{{g.platform|upper}}</p>
                        <p class="year">{{g.year_release}}</p>
                        <p class="genres">
                            {% for genre in g.genres.all %}
                                <span class="genre-tag">{{genre.name}}</span>
                            {% endfor %}
                        </p>
                        <div class="tags">
                            {% for tag in g.tags.all %}
                                <a href="{% url 'catalog_by_tag' tag.slug %}" class="game-tag">
                                    {{ tag.name }}
                                </a>
                            {% endfor %}
                        </div>
                        <p class="description">{{g.description}}</p>
                        <p class="price">{{g.price|floatformat:2}} ₽</p>
                    </div>
                </div>
                {% if not forloop.last %}
                <hr class="divider">
                {% endif %}
            </li>    
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}