<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {% load static %}
    <link type="text/css" href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" />
</head>
<body>
    <div class="container">
        <!-- Логотип и меню -->
        <div class="header-with-nav">
            <div class="logo">
                <img src="{% static 'images/logo.jpg' %}" alt="GAME STORE" class="logo-image">
            </div>
            <nav class="navbar">
                <p class="menu">{{menu|join:" | "}}</p>
            </nav>
            <div class="logo-placeholder"></div> <!-- Пустой блок для баланса -->
        </div>
        
        {% block content%} {% endblock %}
    </div>
</body>
</html>