<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{{title|default:"Game Store"|capfirst}}</title>
    {% load static %}
    <link type="text/css" href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" />
</head>
<body>
    <div class="container">
        <div class="header-with-nav">
            <div class="logo">
                <img src="{% static 'images/logo.jpg' %}" alt="GAME STORE" class="logo-image">
            </div>
            <nav class="navbar">
                <p class="menu">
                    {% for item in mainmenu %} 
                        <a href="{% url item.url_name %}" class="menu">{{ item.title }}</a>
                        {% if not forloop.last %} | {% endif %}
                    {% endfor %}
                    
                    {% if user.is_authenticated %}
                        | <a href="{% url 'users:profile' %}" class="menu user-greeting">{{ user.username }}</a>
                        | <a href="{% url 'users:logout' %}" class="menu">Выйти</a>
                    {% else %}
                        | <a href="{% url 'users:login' %}" class="menu">Войти</a>
                    {% endif %}
                </p>
            </nav>
            <div class="header-right">
                <div class="cart-icon">
                    <a href="{% url 'cart' %}" style="text-decoration: none">
                        <img src="{% static 'images/cart-icon.png' %}" alt="Корзина" class="cart-img">
                        <span class="cart-count">
                            {% if user.is_authenticated %}
                                {{ user.cart.total_items|default:0 }}
                            {% else %}
                                0
                            {% endif %}
                        </span>
                    </a>
                </div>
            </div>
        </div>
        
        {% block content%} {% endblock %}
    </div>

    <!-- Простой футер -->
    <footer class="footer">
        <p>&copy; 2024 GameStore. Все права защищены.</p>
    </footer>
</body>
</html>